<div>
  <span>Testes</span>
  <nav>
    <ul>
      <a routerLink="teste1" routerLinkActive="active">
        <li>Teste 1</li>
      </a>
      <a routerLink="teste2" routerLinkActive="active">
        <li>Teste 2</li>
      </a>
      <a routerLink="teste3" routerLinkActive="active">
        <li>Teste 3</li>
      </a>
      <a routerLink="teste4" routerLinkActive="active">
        <li>Teste 4</li>
      </a>
      <a routerLink="teste5" routerLinkActive="active">
        <li>Teste 5</li>
      </a>
    </ul>
  </nav>
</div>
